## Selenium

#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
##### This task will be done in following steps:
##### 1. First get the webpage https://www.naukri.com/
##### 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
##### 3. Then click the search button.
##### 4. Then scrape the data for the first 10 jobs results you get.
##### 5. Finally create a dataframe of the scraped data.

In [51]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.keys import Keys
import warnings 
warnings.filterwarnings('ignore')

In [8]:
# lets first connect to web driver
driver = webdriver.Chrome(r'E:\Data science\FLIPROBO\web driver\chromedriver.exe')

In [9]:
url = 'https://www.naukri.com/'
driver.get(url)

In [10]:
#finding web element for search job using id
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [11]:
search_job.send_keys('Data Analyst')

In [12]:
### finding web element for search location bar using absolute xpath
search_locn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
search_locn

In [13]:
search_locn.send_keys('Bangalore')

In [16]:
## clicking search button using absolute xpath function
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn

In [17]:
search_btn.click()

### Extracting job titles

### lets extract all web elements having job titles

In [26]:
title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title)

20

In [31]:
### now job_title is inside the title tag we will iterate over it to extract job_titles
job_titles = []
for i in title:
    job_titles.append(i.text)
    job_titles = job_titles[:10]
print(len(job_titles))
print(job_titles)

10
['Lead - Data Analyst / Scientist', 'Senior Data Analyst', 'Data Analyst', 'BUSINESS ANALYST -DATA SCIENCE-CONSUMER', 'Data Analyst', 'Senior Data Analyst - Supporting Audits', 'Data Analyst', 'Senior Data Analyst', 'Senior Data Analyst', 'Data Analyst']

## Extracting location

In [23]:
locn = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn)

20

In [32]:
job_location = []
for i in locn:
    job_location.append(i.text)
    job_location = job_location[:10]
print(job_location)

['Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bengaluru/Bangalore', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru']

### Extracting company name

In [20]:
company_name = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_name)

20

In [33]:
company_names = []
for i in company_name:
    company_names.append(i.text)
    company_names=company_names[:10]
print(company_names)

['Axim Technologies', 'Schneider Electric', 'Snaphunt', 'BRIDGEi2i Analytics Solutions Private Limited', 'Jeeva Organic', 'Visa', 'Flipkart', 'Glance', 'Glance IT Solution', 'Novel Office']

## Experience required

In [35]:
Experience_required = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(Experience_required)

20

In [36]:
experience = []
for i in Experience_required:
    experience.append(i.text)
    experience = experience[:10]
print(experience)

['12-14 Yrs', '0-2 Yrs', '0-2 Yrs', '0-2 Yrs', '3-8 Yrs', '5-8 Yrs', '1-2 Yrs', '1-6 Yrs', '1-6 Yrs', '0-3 Yrs']

### making dataframe

In [37]:
len(job_titles),len(job_location),len(experience),len(company_names)

(10, 10, 10, 10)

In [39]:
job=pd.DataFrame()
job['job-title'] = job_titles
job['job-location'] = job_location
job['company_name'] = company_names
job['Experience_required'] = experience

In [40]:
job

,job-title,job-location,company_name,Experience_required
0,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies,12-14 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Schneider Electric,0-2 Yrs
2,Data Analyst,Bangalore/Bengaluru,Snaphunt,0-2 Yrs
3,BUSINESS ANALYST -DATA SCIENCE-CONSUMER,Bangalore/Bengaluru,BRIDGEi2i Analytics Solutions Private Limited,0-2 Yrs
4,Data Analyst,Bangalore/Bengaluru,Jeeva Organic,3-8 Yrs
5,Senior Data Analyst - Supporting Audits,Bangalore/Bengaluru,Visa,5-8 Yrs
6,Data Analyst,Bengaluru/Bangalore,Flipkart,1-2 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,Glance,1-6 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Glance IT Solution,1-6 Yrs
9,Data Analyst,Bangalore/Bengaluru,Novel Office,0-3 Yrs

#### 2) Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:
##### 1. First get the webpage https://www.naukri.com/
##### 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
##### 3. Then click the search button.
##### 4. Then scrape the data for the first 10 jobs results you get.
##### 5. Finally create a dataframe of the scraped data.

In [43]:
driver = webdriver.Chrome(r'E:\Data science\FLIPROBO\web driver\chromedriver.exe')

In [44]:
url = 'https://www.naukri.com/'
driver.get(url)

In [45]:
#finding web element for search job using id
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [46]:
search_job.send_keys('Data Scientist')

In [47]:
### finding web element for search location bar using absolute xpath
search_locn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
search_locn

In [48]:
search_locn.send_keys('Bangalore')

In [49]:
## clicking search button using absolute xpath function
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn

In [50]:
search_btn.click()

### Extracting job titles

In [52]:
title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
### now job_title is inside the title tag we will iterate over it to extract job_titles
job_titles = []
for i in title:
    job_titles.append(i.text)
    job_titles = job_titles[:10]
print(len(job_titles))
print(job_titles)

10
['Lead/Senior Data Scientist (NLP)', 'Global Tax Automation & Operations | Data Scientist Senior Analyst', 'Senior Data Scientist', 'Lead Data Scientist - Prescriptive Analytics/Predictive Modeling', 'Lead Data Scientist - NLP/OpenCV', 'Lead - Data Analyst / Scientist', 'Job opening with Wipro For Data Scientist', 'Spark ML Data Scientist', 'Spark ML Data Scientist', 'Senior Data Scientist - Logistics']

### Extracting job location

In [56]:
locn = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
job_location = []
for i in locn:
    job_location.append(i.text)
    job_location = job_location[:10]
print(job_location)

['Bangalore/Bengaluru\n(WFH during Covid)', 'Bangalore/Bengaluru', 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)', 'Hyderabad/Secunderabad, Bangalore/Bengaluru', 'Hyderabad/Secunderabad, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru', 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru\n(WFH during Covid)', 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru', 'Bangalore/Bengaluru']

### Extracting company name

In [57]:
company_name = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_name)

20

In [58]:
company_names = []
for i in company_name:
    company_names.append(i.text)
    company_names=company_names[:10]
print(company_names)

['Samya.AI A FRACTAL Entity', 'Dell', 'Fractal Analytics', 'Codersbrain', 'Codersbrain', 'Axim Technologies', 'Wipro', 'Wipro', 'Wipro', 'Gojek Tech']

In [59]:
job=pd.DataFrame()
job['job-title'] = job_titles
job['job-location'] = job_location
job['company_name'] = company_names

In [60]:
job

,job-title,job-location,company_name
0,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru\n(WFH during Covid),Samya.AI A FRACTAL Entity
1,Global Tax Automation & Operations | Data Scie...,Bangalore/Bengaluru,Dell
2,Senior Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Fractal Analytics
3,Lead Data Scientist - Prescriptive Analytics/P...,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Codersbrain
4,Lead Data Scientist - NLP/OpenCV,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Codersbrain
5,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies
6,Job opening with Wipro For Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Wipro
7,Spark ML Data Scientist,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",Wipro
8,Spark ML Data Scientist,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Wipro
9,Senior Data Scientist - Logistics,Bangalore/Bengaluru,Gojek Tech

### 3) In this question you have to scrape data using the filters available on the webpage as shown below: 
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data

In [61]:
driver = webdriver.Chrome(r'E:\Data science\FLIPROBO\web driver\chromedriver.exe')

In [62]:
url = 'https://www.naukri.com/'
driver.get(url)

In [63]:
#finding web element for search job using id
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [64]:
search_job.send_keys('Data Scientist')

In [65]:
### finding web element for search location bar using absolute xpath
search_locn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
search_locn

In [66]:
search_locn.send_keys('Delhi/NCR')

In [67]:
## clicking search button using absolute xpath function
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn

In [68]:
search_btn.click()

##### clicking filters by selecting check boxes using absolute xpath

In [69]:
salary_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_check

In [70]:
salary_check.click()

### Extracting job titles

In [71]:
title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
### now job_title is inside the title tag we will iterate over it to extract job_titles
job_titles = []
for i in title:
    job_titles.append(i.text)
    job_titles = job_titles[:10]
print(len(job_titles))
print(job_titles)

10
['Data Scientist | Python | Machine Learning | Deep Learning- Fresher', 'Senior Data Scientist I', 'Openings For Jr/mid/Sr level data Scientists', 'Data Scientist role', 'Data Scientist role', 'Urgent Hiring For Data Scientist', 'Urgent Hiring For Data Scientist', 'Data Scientist Internship', 'Data Scientist', 'Data Scientist']

### Extracting job-location

In [73]:
locn = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
job_location = []
for i in locn:
    job_location.append(i.text)
    job_location = job_location[:10]
print(len(job_location))
print(job_location)

10
['Noida, Gurgaon/Gurugram, Delhi / NCR', 'Gurgaon/Gurugram', 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)', 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)', 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)', 'Gurgaon/Gurugram, Bangalore/Bengaluru', 'Gurgaon/Gurugram, Bangalore/Bengaluru', 'New Delhi', 'Noida, New Delhi, Faridabad, Gurgaon/Gurugram, Delhi / NCR', 'Gurgaon/Gurugram, Chennai']

### Extracting Experience

In [74]:
Experience_required = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(Experience_required)
experience = []
for i in Experience_required:
    experience.append(i.text)
    experience = experience[:10]
print(experience)

['0-3 Yrs', '3-7 Yrs', '2-6 Yrs', '1-3 Yrs', '1-3 Yrs', '1-6 Yrs', '1-6 Yrs', '0-1 Yrs', '0-2 Yrs', '4-9 Yrs']

### Extracting Company name

In [75]:
company_name = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_names = []
for i in company_name:
    company_names.append(i.text)
    company_names=company_names[:10]
print(company_names)

['Schlesinger Group', 'Delhivery', 'Pluto seven business solutions (p) limited', 'Mount Talent Consulting Private Limited', 'Mount Talent Consulting Private Limited', 'Mount Talent Consulting Private Limited', 'Mount Talent Consulting Private Limited', 'iHackers Inc', 'LG', 'Teleperformance']

In [76]:
job=pd.DataFrame()
job['job-title'] = job_titles
job['job-location'] = job_location
job['company_name'] = company_names
job['Experience_required'] = experience

In [77]:
job

,job-title,job-location,company_name,Experience_required
0,Data Scientist | Python | Machine Learning | D...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Schlesinger Group,0-3 Yrs
1,Senior Data Scientist I,Gurgaon/Gurugram,Delhivery,3-7 Yrs
2,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Pluto seven business solutions (p) limited,2-6 Yrs
3,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-3 Yrs
4,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-3 Yrs
5,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
6,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
7,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs
8,Data Scientist,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",LG,0-2 Yrs
9,Data Scientist,"Gurgaon/Gurugram, Chennai",Teleperformance,4-9 Yrs

## 4)Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.

4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses

In [26]:
driver = webdriver.Chrome(r'E:\Data science\FLIPROBO\web driver\chromedriver.exe')

In [27]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [28]:
### finding web element for search location bar using absolute xpath
search_locn = driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_locn

In [29]:
search_locn.send_keys('sunglasses')

In [30]:
## clicking search button using absolute xpath function
search_btn = driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [31]:
search_btn.click()

## Extracting brand

In [32]:
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
### now brand is inside the brand tag we will iterate over it to extract brands
brand_sg = []
for i in brand:
    brand_sg.append(i.text)
print(len(brand_sg))
print(brand_sg)

40
['ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'SRPM', 'Fastrack', 'SHAAH COLLECTIONS', 'Elligator', 'PIRASO', 'ROZZETTA CRAFT', 'Fastrack', 'New Specs', 'kingsunglasses', 'ROZZETTA CRAFT', 'SUNBEE', 'ROZZETTA CRAFT', 'PHENOMENAL', 'Anemone', 'kingsunglasses', 'PIRASO', 'PIRASO', 'ROYAL SON', 'New Specs', 'SHAAH COLLECTIONS', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'Rich Club', 'Fastrack', 'ROYAL SON', 'ROYAL SON', 'PHENOMENAL', 'Johaena', 'PIRASO', 'ROZZETTA CRAFT', 'ROYAL SON', 'PIRASO', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'Rich Club', 'Fastrack', 'ROZZETTA CRAFT', 'ROYAL SON']

## product description

In [33]:
product = driver.find_elements_by_xpath('//div[@class="_2B099V"]')

product_sg = []
for i in product:
    product_sg.append(i.text.split("\n")[-3])
print(len(product_sg))
print(product_sg)

40
['ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'SRPM', '₹759₹89915% off', 'SHAAH COLLECTIONS', 'Elligator', 'PIRASO', 'ROZZETTA CRAFT', '₹509₹79936% off', 'New Specs', 'kingsunglasses', 'ROZZETTA CRAFT', 'SUNBEE', 'ROZZETTA CRAFT', 'PHENOMENAL', 'Anemone', 'kingsunglasses', 'PIRASO', 'PIRASO', '₹664₹1,99966% off', 'New Specs', 'SHAAH COLLECTIONS', 'ROZZETTA CRAFT', 'UV Protection Aviator Sunglasses (Free Size)', 'Rich Club', '₹639₹79920% off', 'Mirrored Aviator Sunglasses (55)', '₹759₹1,99962% off', 'PHENOMENAL', 'Johaena', 'PIRASO', 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...', 'UV Protection Rectangular Sunglasses (58)', 'PIRASO', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'Rich Club', '₹809₹89910% off', 'ROZZETTA CRAFT', '₹664₹1,49955% off']

In [34]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

price_sg = []
for i in price:
    price_sg.append(i.text)
    price_sg = price_sg
print(len(price_sg))
print(price_sg)

40
['₹449', '₹499', '₹188', '₹759', '₹165', '₹248', '₹200', '₹499', '₹509', '₹259', '₹274', '₹499', '₹271', '₹383', '₹309', '₹499', '₹189', '₹190', '₹200', '₹664', '₹262', '₹181', '₹474', '₹649', '₹165', '₹639', '₹359', '₹759', '₹299', '₹156', '₹299', '₹499', '₹449', '₹200', '₹360', '₹426', '₹355', '₹809', '₹348', '₹664']

In [35]:
### clicking on next button 
next_btn = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_btn

In [36]:
next_btn.click()

In [37]:
## Extracting brand name from 40-80
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in brand:
    brand_sg.append(i.text)
print(len(brand_sg))
print(brand_sg)

80
['ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'SRPM', 'Fastrack', 'SHAAH COLLECTIONS', 'Elligator', 'PIRASO', 'ROZZETTA CRAFT', 'Fastrack', 'New Specs', 'kingsunglasses', 'ROZZETTA CRAFT', 'SUNBEE', 'ROZZETTA CRAFT', 'PHENOMENAL', 'Anemone', 'kingsunglasses', 'PIRASO', 'PIRASO', 'ROYAL SON', 'New Specs', 'SHAAH COLLECTIONS', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'Rich Club', 'Fastrack', 'ROYAL SON', 'ROYAL SON', 'PHENOMENAL', 'Johaena', 'PIRASO', 'ROZZETTA CRAFT', 'ROYAL SON', 'PIRASO', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'Rich Club', 'Fastrack', 'ROZZETTA CRAFT', 'ROYAL SON', 'Lee Topper', 'kingsunglasses', 'PIRASO', 'Singco India', 'Singco India', 'kingsunglasses', 'SUNBEE', 'ZOSTAL', 'agera', 'ROYAL SON', 'kingsunglasses', 'VILLAIN', 'Elligator', 'PHENOMENAL', 'hipe', 'ROYAL SON', 'Fastrack', 'Fastrack', 'SUNBEE', 'ROYAL SON', 'Elligator', 'ROYAL SON', 'ROZZETTA CRAFT', 'ROYAL SON', 'Singco India', 'Elligator', 'ROYAL SON', "Clark N' Palmer", 'DEIXELS', 'Elligator', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'GANSTA', 'ROYAL SON', 'ROYAL SON', 'maxa', 'Silver Kartz', 'PIRASO', 'ROYAL SON']

In [38]:
product2 = driver.find_elements_by_xpath('//div[@class="_2B099V"]')
for i in product2:
    product_sg.append(i.text.split('\n'))
print(len(product_sg))
print(product_sg)

80
['ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'SRPM', '₹759₹89915% off', 'SHAAH COLLECTIONS', 'Elligator', 'PIRASO', 'ROZZETTA CRAFT', '₹509₹79936% off', 'New Specs', 'kingsunglasses', 'ROZZETTA CRAFT', 'SUNBEE', 'ROZZETTA CRAFT', 'PHENOMENAL', 'Anemone', 'kingsunglasses', 'PIRASO', 'PIRASO', '₹664₹1,99966% off', 'New Specs', 'SHAAH COLLECTIONS', 'ROZZETTA CRAFT', 'UV Protection Aviator Sunglasses (Free Size)', 'Rich Club', '₹639₹79920% off', 'Mirrored Aviator Sunglasses (55)', '₹759₹1,99962% off', 'PHENOMENAL', 'Johaena', 'PIRASO', 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...', 'UV Protection Rectangular Sunglasses (58)', 'PIRASO', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'Rich Club', '₹809₹89910% off', 'ROZZETTA CRAFT', '₹664₹1,49955% off', ['Lee Topper', 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...', '₹276₹2,49988% off'], ['kingsunglasses', 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...', '₹187₹1,19984% off'], ['PIRASO', 'UV Protection Butterfly Sunglasses (65)', '₹349₹2,59986% off'], ['Singco India', 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...', '₹599₹2,99980% off', 'Free delivery', 'Lowest price since launch'], ['Singco India', 'Riding Glasses, UV Protection, Others Aviator Sunglasse...', '₹201₹1,49986% off', 'Buy 2 items, save extra 5%'], ['kingsunglasses', 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...', '₹273₹1,69983% off'], ['SUNBEE', 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...', '₹243₹1,29981% off'], ['ZOSTAL', 'UV Protection, Polarized Rectangular Sunglasses (Free S...', '₹173₹99982% off'], ['agera', 'Gradient Aviator Sunglasses (55)', '₹196₹1,14982% off', 'Deal of the Day'], ['ROYAL SON', 'Mirrored Aviator Sunglasses (Free Size)', '₹359₹1,49976% off', 'Deal of the Day'], ['kingsunglasses', 'UV Protection Round Sunglasses (Free Size)', '₹299₹1,59981% off'], ['VILLAIN', 'Others Wayfarer Sunglasses (Free Size)', '₹522₹99947% off', 'Free delivery'], ['Elligator', 'UV Protection Round Sunglasses (53)', '₹179₹1,49788% off'], ['PHENOMENAL', 'UV Protection, Mirrored Retro Square Sunglasses (53)', '₹299₹1,99985% off'], ['hipe', 'Mirrored, Gradient, UV Protection Aviator Sunglasses (5...', '₹178₹1,26685% off', 'Deal of the Day'], ['ROYAL SON', 'UV Protection Rectangular Sunglasses (Free Size)', '₹449₹1,49970% off', 'Deal of the Day'], ['Fastrack', 'UV Protection Aviator Sunglasses (58)', '₹1,089₹1,29916% off', 'Free delivery', 'Buy 2 items, save extra 5%'], ['Fastrack', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', '₹659₹79917% off', 'Free delivery', 'Buy 2 items, save extra 5%'], ['SUNBEE', 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...', '₹276₹1,29978% off'], ['ROYAL SON', 'Polarized, UV Protection Round Sunglasses (52)', '₹759₹1,99962% off', 'Free delivery', 'Deal of the Day'], ['Elligator', 'UV Protection Round Sunglasses (54)', '₹265₹1,29979% off'], ['ROYAL SON', 'UV Protection Retro Square Sunglasses (58)', '₹449₹1,49970% off', 'Deal of the Day'], ['ROZZETTA CRAFT', 'UV Protection, Gradient Round Sunglasses (Free Size)', '₹426₹1,99978% off'], ['ROYAL SON', 'Polarized, UV Protection Round Sunglasses (52)', '₹799₹1,99960% off', 'Free delivery'], ['Singco India', 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...', '₹174₹69975% off', 'Lowest Price in 15 days'], ['Elligator', 'UV Protection Retro Square, Round Sunglasses (54)', '₹291₹1,99985% off'], ['ROYAL SON', 'Mirrored Aviator Sunglasses (55)', '₹359₹1,49976% off', 'Deal of the Day'], ["Clark N' Palmer", 'UV Protection Aviator Sunglasses (Free Size)', '₹499₹1,79972% off'], ['DEIXELS', 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)', '₹202₹1,19983% off', 'Deal of the Day'], ['Elligator', 'UV Protection Round Sunglasses (55)', '₹239₹1,99688% off'], ['ROZZETTA CRAFT', 'Mirrored, UV Protection Round Sunglasses (Free Size)', '₹360₹1,44675% off'], ['ROZZETTA CRAFT', 'UV Protection Oval Sunglasses (Free Size)', '₹396₹1,99980% off'], ['ROZZETTA CRAFT', 'UV Protection, Gradient Retro Square Sunglasses (Free S...', '₹349₹1,99982% off'], ['GANSTA', 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)', '₹209₹1,79988% off', 'Deal of the Day'], ['ROYAL SON', 'Mirrored Aviator Sunglasses (55)', '₹359₹1,49976% off', 'Deal of the Day'], ['ROYAL SON', 'UV Protection, Gradient Butterfly Sunglasses (60)', '₹664₹1,99966% off', 'Free delivery', 'Deal of the Day'], ['maxa', 'UV Protection, Riding Glasses Rectangular, Wayfarer, Ov...', '₹144₹69979% off', 'Lowest Price in 15 days'], ['Silver Kartz', 'UV Protection Wayfarer Sunglasses (Free Size)', '₹246₹1,49983% off', 'Deal of the Day'], ['PIRASO', 'UV Protection Aviator Sunglasses (Free Size)', '₹261₹1,59983% off'], ['ROYAL SON', 'UV Protection Retro Square Sunglasses (58)', '₹449₹1,49970% off', 'Deal of the Day']]

In [39]:
price2 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in price2:
    price_sg.append(i.text)
    price_sg = price_sg
print(len(price_sg))
print(price_sg)

80
['₹449', '₹499', '₹188', '₹759', '₹165', '₹248', '₹200', '₹499', '₹509', '₹259', '₹274', '₹499', '₹271', '₹383', '₹309', '₹499', '₹189', '₹190', '₹200', '₹664', '₹262', '₹181', '₹474', '₹649', '₹165', '₹639', '₹359', '₹759', '₹299', '₹156', '₹299', '₹499', '₹449', '₹200', '₹360', '₹426', '₹355', '₹809', '₹348', '₹664', '₹276', '₹187', '₹349', '₹599', '₹201', '₹273', '₹243', '₹173', '₹196', '₹359', '₹299', '₹522', '₹179', '₹299', '₹178', '₹449', '₹1,089', '₹659', '₹276', '₹759', '₹265', '₹449', '₹426', '₹799', '₹174', '₹291', '₹359', '₹499', '₹202', '₹239', '₹360', '₹396', '₹349', '₹209', '₹359', '₹664', '₹144', '₹246', '₹261', '₹449']

In [40]:
### clicking on next button 
next_btn2 = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_btn2

In [41]:
next_btn2.click()

In [42]:
## Extracting brand name from 80-100
brand3 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in brand3:
    brand_sg.append(i.text)
print(len(brand_sg))
print(brand_sg)'

120
['ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'SRPM', 'Fastrack', 'SHAAH COLLECTIONS', 'Elligator', 'PIRASO', 'ROZZETTA CRAFT', 'Fastrack', 'New Specs', 'kingsunglasses', 'ROZZETTA CRAFT', 'SUNBEE', 'ROZZETTA CRAFT', 'PHENOMENAL', 'Anemone', 'kingsunglasses', 'PIRASO', 'PIRASO', 'ROYAL SON', 'New Specs', 'SHAAH COLLECTIONS', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'Rich Club', 'Fastrack', 'ROYAL SON', 'ROYAL SON', 'PHENOMENAL', 'Johaena', 'PIRASO', 'ROZZETTA CRAFT', 'ROYAL SON', 'PIRASO', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'Rich Club', 'Fastrack', 'ROZZETTA CRAFT', 'ROYAL SON', 'Lee Topper', 'kingsunglasses', 'PIRASO', 'Singco India', 'Singco India', 'kingsunglasses', 'SUNBEE', 'ZOSTAL', 'agera', 'ROYAL SON', 'kingsunglasses', 'VILLAIN', 'Elligator', 'PHENOMENAL', 'hipe', 'ROYAL SON', 'Fastrack', 'Fastrack', 'SUNBEE', 'ROYAL SON', 'Elligator', 'ROYAL SON', 'ROZZETTA CRAFT', 'ROYAL SON', 'Singco India', 'Elligator', 'ROYAL SON', "Clark N' Palmer", 'DEIXELS', 'Elligator', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'GANSTA', 'ROYAL SON', 'ROYAL SON', 'maxa', 'Silver Kartz', 'PIRASO', 'ROYAL SON', 'Lee Topper', 'SHAAH COLLECTIONS', 'Rich Club', 'New Specs', 'kingsunglasses', 'hipe', 'hipe', 'ROZZETTA CRAFT', 'Fastrack', 'Lee Topper', 'Fastrack', 'PHENOMENAL', 'New Specs', 'kingsunglasses', 'Rich Club', 'Fastrack', 'kingsunglasses', 'SRPM', 'Elligator', 'kingsunglasses', 'kingsunglasses', 'Poloport', 'ROZZETTA CRAFT', 'PHENOMENAL', 'ROYAL SON', 'Fravy', 'hipe', 'Fastrack', 'povty', 'Fastrack', 'Elligator', 'New Specs', 'Fastrack', 'AISLIN', 'PHENOMENAL', 'ROZZETTA CRAFT', 'Rich Club', 'Urbanic', 'GANSTA', 'kingsunglasses']

In [44]:
brand_sg = brand_sg[:100]
print(len(brand_sg))

100

In [45]:
product3 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in product3:
    product_sg.append(i.text.split('\n'))
product_sg = product_sg[:100]
print(len(product_sg))

100

In [46]:
price3 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in price3:
    price_sg.append(i.text)
price_sg = price_sg[:100]
print(len(price_sg))

100

In [47]:
Sunglasses=pd.DataFrame()
Sunglasses['Brand'] = brand_sg
Sunglasses['Product description'] = product_sg
Sunglasses['Price'] = price_sg
Sunglasses

                Brand Product description Price
0      ROZZETTA CRAFT      ROZZETTA CRAFT  ₹449
1      ROZZETTA CRAFT      ROZZETTA CRAFT  ₹499
2                SRPM                SRPM  ₹188
3            Fastrack     ₹759₹89915% off  ₹759
4   SHAAH COLLECTIONS   SHAAH COLLECTIONS  ₹165
..                ...                 ...   ...
95           Fastrack          [Fastrack]  ₹899
96     kingsunglasses    [kingsunglasses]  ₹192
97               SRPM              [SRPM]  ₹207
98          Elligator         [Elligator]  ₹266
99     kingsunglasses    [kingsunglasses]  ₹258

[100 rows x 3 columns]

## Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [51]:
driver = webdriver.Chrome(r'E:\Data science\FLIPROBO\web driver\chromedriver.exe')

In [52]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [53]:
review_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[7]/div/div/div[5]/div/a/div')
review_btn

In [54]:
review_btn.click()

### Rating

In [61]:
Ratings=[]
for i in range(0,10,1):
    Rating_iphone = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for j in Rating_iphone:
        Ratings.append(j.text)
print(len(Ratings))
print(Ratings)

100
['5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5']

### Review

In [64]:
Reviews = []
for i in range(0,10,1):
    Review_iphone = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for j in Review_iphone:
        Reviews.append(j.text)
print(len(Reviews))
print(Reviews)

100
['Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Worth every penny', 'Highly recommended', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Worth every penny', 'Highly recommended', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Worth every penny', 'Highly recommended', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Worth every penny', 'Highly recommended', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Worth every penny', 'Highly recommended', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Worth every penny', 'Highly recommended', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Worth every penny', 'Highly recommended', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Worth every penny', 'Highly recommended', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Worth every penny', 'Highly recommended', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Worth every penny', 'Highly recommended']

### Full Review

In [65]:
full_reviews = []
for i in range(0,10,1):
    full_review_iphone = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for j in full_review_iphone:
        full_reviews.append(j.text.split('\n'))
print(len(full_reviews))
print(full_reviews)

100

In [66]:
iphone = pd.DataFrame()
iphone['Ratings'] = Ratings
iphone['Reviews'] = Reviews
iphone['Full Review'] = full_reviews

In [67]:
iphone

,Ratings,Reviews,Full Review
0,5,Brilliant,"[The Best Phone for the Money, , The iPhone 11..."
1,5,Simply awesome,[Really satisfied with the Product I received....
2,5,Perfect product!,[Amazing phone with great cameras and better b...
3,5,Best in the market!,[Great iPhone very snappy experience as apple ...
4,5,Worth every penny,[Previously I was using one plus 3t it was a g...
...,...,...,...
95,5,Fabulous!,[This is my first iOS phone. I am very happy w...
96,5,Great product,"[Amazing Powerful and Durable Gadget., , I’m a..."
97,4,Good choice,[So far it’s been an AMAZING experience coming...
98,5,Worth every penny,"[i11 is worthy to buy, too much happy with the..."
99,5,Highly recommended,[What a camera .....just awesome ..you can fee...

## 6)Scrape data for first 100 sneakers you find when you visit -
flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [80]:
driver = webdriver.Chrome(r'E:\Data science\FLIPROBO\web driver\chromedriver.exe')

In [81]:
url ='https://www.flipkart.com/'
driver.get(url)

In [82]:
search = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search

In [83]:
search.send_keys('sneakers')

In [87]:
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [88]:
search_btn.click()

### Extracting Brand

In [94]:
Brand_sneakers = []
for i in 0,1,2:
    brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for j in brand:
        Brand_sneakers.append(j.text)
        i=+1
Brand_sneakers = Brand_sneakers[:100]
print(len(Brand_sneakers))
print(Brand_sneakers)

100
['DUNKASTON', 'Robbie jones', 'Magnolia', 'luxury fashion', 'ASTEROID', 'Stefano Rads', 'URBANBOX', 'Robbie jones', 'Labbin', 'Extoes', 'BRUTON', 'Robbie jones', 'D-SNEAKERZ', 'PUMA', 'SCATCHITE', 'MILESWALKER', 'TR', 'Kraasa', 'Echor', 'K- FOOTLANCE', 'PUMA', 'HOTSTYLE', 'Trendmode', 'GVR', 'RapidBox', 'Numenzo', 'Shoes Bank', "Neeman's", 'Rzisbo', 'Numenzo', 'Kraasa', 'JACK & JONES', 'Lee Won', 'Robbie jones', 'BIRDE', 'CLAXA', 'DUNKASTON', 'India hub', 'ganpati traders', 'RED TAPE', 'DUNKASTON', 'Robbie jones', 'Magnolia', 'luxury fashion', 'ASTEROID', 'Stefano Rads', 'URBANBOX', 'Robbie jones', 'Labbin', 'Extoes', 'BRUTON', 'Robbie jones', 'D-SNEAKERZ', 'PUMA', 'SCATCHITE', 'MILESWALKER', 'TR', 'Kraasa', 'Echor', 'K- FOOTLANCE', 'PUMA', 'HOTSTYLE', 'Trendmode', 'GVR', 'RapidBox', 'Numenzo', 'Shoes Bank', "Neeman's", 'Rzisbo', 'Numenzo', 'Kraasa', 'JACK & JONES', 'Lee Won', 'Robbie jones', 'BIRDE', 'CLAXA', 'DUNKASTON', 'India hub', 'ganpati traders', 'RED TAPE', 'DUNKASTON', 'Robbie jones', 'Magnolia', 'luxury fashion', 'ASTEROID', 'Stefano Rads', 'URBANBOX', 'Robbie jones', 'Labbin', 'Extoes', 'BRUTON', 'Robbie jones', 'D-SNEAKERZ', 'PUMA', 'SCATCHITE', 'MILESWALKER', 'TR', 'Kraasa', 'Echor', 'K- FOOTLANCE']

### Extracting Product descrpition

In [98]:
product_descrpition = []
for i in 0,1,2,3:
    product = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for j in product:
        product_descrpition.append(j.text)
product_descrpition = product_descrpition[:100]
print(len(product_descrpition))
print(product_descrpition)

100
['Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Luxury Fashionable casual sneaker shoes Sneakers For Me...', "Original Luxury Branded Fashionable Men's Casual Walkin...", 'Casual Sneakers Shoes For Men Sneakers For Men', 'Sneakers For Men', 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men', 'Modern Trendy Shoes Sneakers For Men', 'Casual Sneakers Shoes For Men And Boys Sneakers For Men', "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...", 'Glory Sneakers For Men', 'Sneakers Sneakers For Men', 'Sneakers For Men Sneakers For Men', 'Sneakers For Men', 'Series 7 Sneakers For Men', "Men's Sneakers Fashion Lightweight Running Shoes Tennis...", 'Sneakers For Men', 'Glory Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', '411 Casual Sneakers For Men', "White Sneaker For Men's/Boy's Sneakers For Men", 'Sneakers For Men', 'Sneakers For Men', 'White Sneaker For Men Sneakers For Men', 'Shark-41 Sneakers For Men', 'Casual Sneakers Black Shoes For Men Sneakers For Men', 'Sports Running Shoes Sneakers For Men', 'Luxury Fashionable casual sneaker shoes Sneakers For Me...', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Luxury Fashionable casual sneaker shoes Sneakers For Me...', "Original Luxury Branded Fashionable Men's Casual Walkin...", 'Casual Sneakers Shoes For Men Sneakers For Men', 'Sneakers For Men', 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men', 'Modern Trendy Shoes Sneakers For Men', 'Casual Sneakers Shoes For Men And Boys Sneakers For Men', "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...", 'Glory Sneakers For Men', 'Sneakers Sneakers For Men', 'Sneakers For Men Sneakers For Men', 'Sneakers For Men', 'Series 7 Sneakers For Men', "Men's Sneakers Fashion Lightweight Running Shoes Tennis...", 'Sneakers For Men', 'Glory Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', '411 Casual Sneakers For Men', "White Sneaker For Men's/Boy's Sneakers For Men", 'Sneakers For Men', 'Sneakers For Men', 'White Sneaker For Men Sneakers For Men', 'Shark-41 Sneakers For Men', 'Casual Sneakers Black Shoes For Men Sneakers For Men', 'Sports Running Shoes Sneakers For Men', 'Luxury Fashionable casual sneaker shoes Sneakers For Me...', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Luxury Fashionable casual sneaker shoes Sneakers For Me...', "Original Luxury Branded Fashionable Men's Casual Walkin...", 'Casual Sneakers Shoes For Men Sneakers For Men', 'Sneakers For Men', 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men', 'Modern Trendy Shoes Sneakers For Men', 'Casual Sneakers Shoes For Men And Boys Sneakers For Men', "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...", 'Glory Sneakers For Men', 'Sneakers Sneakers For Men', 'Sneakers For Men Sneakers For Men', 'Sneakers For Men', 'Series 7 Sneakers For Men', "Men's Sneakers Fashion Lightweight Running Shoes Tennis...", 'Sneakers For Men', 'Glory Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', '411 Casual Sneakers For Men', "White Sneaker For Men's/Boy's Sneakers For Men", 'Sneakers For Men', 'Sneakers For Men', 'White Sneaker For Men Sneakers For Men', 'Shark-41 Sneakers For Men', 'Casual Sneakers Black Shoes For Men Sneakers For Men', 'Sports Running Shoes Sneakers For Men', 'Luxury Fashionable casual sneaker shoes Sneakers For Me...', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Luxury Fashionable casual sneaker shoes Sneakers For Me...']

In [100]:
price = []
for i in range(0,4):
    price_tag = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for j in price_tag:
        price.append(j.text)
        i+=1
price=price[:100]
print(len(price))
print(price)

100
['₹449', '₹474', '₹398', '₹449', '₹499', '₹242', '₹247', '₹449', '₹499', '₹898', '₹399', '₹474', '₹348', '₹2,984', '₹398', '₹399', '₹599', '₹499', '₹499', '₹359', '₹2,984', '₹298', '₹259', '₹549', '₹680', '₹426', '₹331', '₹2,399', '₹549', '₹407', '₹499', '₹1,999', '₹299', '₹451', '₹299', '₹549', '₹499', '₹499', '₹189', '₹1,431', '₹449', '₹474', '₹398', '₹449', '₹499', '₹242', '₹247', '₹449', '₹499', '₹898', '₹399', '₹474', '₹348', '₹2,984', '₹398', '₹399', '₹599', '₹499', '₹499', '₹359', '₹2,984', '₹298', '₹259', '₹549', '₹680', '₹426', '₹331', '₹2,399', '₹549', '₹407', '₹499', '₹1,999', '₹299', '₹451', '₹299', '₹549', '₹499', '₹499', '₹189', '₹1,431', '₹449', '₹474', '₹398', '₹449', '₹499', '₹242', '₹247', '₹449', '₹499', '₹898', '₹399', '₹474', '₹348', '₹2,984', '₹398', '₹399', '₹599', '₹499', '₹499', '₹359']

In [103]:
discount = []
for i in range(0,4):
    discount_tag = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for j in discount_tag:
        discount.append(j.text.replace("off",""))
discount=discount[:100]
print(len(discount))
print(discount)

100
['70% ', '52% ', '60% ', '65% ', '50% ', '65% ', '75% ', '55% ', '50% ', '40% ', '69% ', '52% ', '47% ', '60% ', '60% ', '70% ', '50% ', '50% ', '64% ', '70% ', '74% ', '45% ', '31% ', '78% ', '66% ', '20% ', '45% ', '68% ', '50% ', '20% ', '40% ', '54% ', '40% ', '65% ', '66% ', '61% ', '62% ', '69% ', '70% ', '52% ', '60% ', '65% ', '50% ', '65% ', '75% ', '55% ', '50% ', '40% ', '69% ', '52% ', '47% ', '60% ', '60% ', '70% ', '50% ', '50% ', '64% ', '70% ', '74% ', '45% ', '31% ', '78% ', '66% ', '20% ', '45% ', '68% ', '50% ', '20% ', '40% ', '54% ', '40% ', '65% ', '66% ', '61% ', '62% ', '69% ', '70% ', '52% ', '60% ', '65% ', '50% ', '65% ', '75% ', '55% ', '50% ', '40% ', '69% ', '52% ', '47% ', '60% ', '60% ', '70% ', '50% ', '50% ', '64% ', '70% ', '74% ', '45% ', '31% ', '78% ']

In [104]:
sneakers = pd.DataFrame()
sneakers['Brand'] = Brand_sneakers
sneakers['Product description'] = product_descrpition
sneakers['Price'] = price
sneakers['Discount'] = discount
sneakers

,Brand,Product description,Price,Discount
0,DUNKASTON,Sneakers For Men,₹449,70%
1,Robbie jones,Sneakers For Men,₹474,52%
2,Magnolia,Sneakers For Men,₹398,60%
3,luxury fashion,Luxury Fashionable casual sneaker shoes Sneake...,₹449,65%
4,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹499,50%
...,...,...,...,...
95,MILESWALKER,Sneakers For Men,₹399,70%
96,TR,Sneakers For Men,₹599,74%
97,Kraasa,Sneakers For Men,₹499,45%
98,Echor,Sneakers For Men,₹499,31%
99,K- FOOTLANCE,Luxury Fashionable casual sneaker shoes Sneake...,₹359,78%

### Q7: Go to the link -
https://www.myntra.com/shoes

Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe

In [110]:
driver =  webdriver.Chrome(r'E:\Data science\FLIPROBO\web driver\chromedriver.exe')

In [111]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [112]:
price_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

In [113]:
##color filter
color_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

#### now scrapping data

## Brand

In [115]:
brand = []
for i in range(0,5,1):
    brand_tag = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for j in brand_tag:
        brand.append(j.text)
brand = brand[:100]
print(len(brand))
print(brand)

100
['Puma', 'Puma', 'Hush Puppies', 'Saint G', 'Calvin Klein', 'RARE RABBIT', 'Puma', 'MANGO', 'DAVINCHI', 'Bugatti', 'Bugatti', 'Bugatti', 'Saint G', 'ASICS', 'Clarks', 'Geox', 'J.FONTINI', 'DAVINCHI', 'RARE RABBIT', 'Heel & Buckle London', 'MANGO', 'Saint G', 'Saint G', 'Saint G', 'Geox', 'Puma', 'Tommy Hilfiger', 'Columbia', 'Cole Haan', 'Xtep', 'J.FONTINI', 'J.FONTINI', 'DAVINCHI', 'Geox', 'DAVINCHI', 'Geox', 'Geox', 'DAVINCHI', 'Pavers England', 'Saint G', 'Geox', 'Cole Haan', 'Geox', 'Cole Haan', 'DAVINCHI', 'Pavers England', 'Saint G', 'Saint G', 'Saint G', 'Saint G', 'Puma', 'Puma', 'Hush Puppies', 'Saint G', 'Calvin Klein', 'RARE RABBIT', 'Puma', 'MANGO', 'DAVINCHI', 'Bugatti', 'Bugatti', 'Bugatti', 'Saint G', 'ASICS', 'Clarks', 'Geox', 'J.FONTINI', 'DAVINCHI', 'RARE RABBIT', 'Heel & Buckle London', 'MANGO', 'Saint G', 'Saint G', 'Saint G', 'Geox', 'Puma', 'Tommy Hilfiger', 'Columbia', 'Cole Haan', 'Xtep', 'J.FONTINI', 'J.FONTINI', 'DAVINCHI', 'Geox', 'DAVINCHI', 'Geox', 'Geox', 'DAVINCHI', 'Pavers England', 'Saint G', 'Geox', 'Cole Haan', 'Geox', 'Cole Haan', 'DAVINCHI', 'Pavers England', 'Saint G', 'Saint G', 'Saint G', 'Saint G']

### Short shoe description

In [117]:
desc = []
for i in range(0,5,1):
    desc_tag = driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for j in desc_tag:
        desc.append(j.text)
desc = desc[:100]
print(len(desc))
print(desc)

100
['Men Running Shoes', 'Men Magnify Nitro Running', 'Men Solid Leather Formal Slip-Ons', 'Men Mid-Top Chelsea Boots', 'Men Solid Suede Sneakers', 'Men Leather Flat Boots', 'Women Magnify Nitro Shoes', 'Women WovenDesign Sports Shoes', 'Men Solid Leather Formal Derbys', 'Men Textured Leather High-Top Flat Boots', 'Men Running Shoes', 'Men Black Walking Shoes', 'Women Leather Heeled Boots', 'Men Colourblocked PU Sneakers', 'Men Solid Formal Leather Derbys', 'Men Leather Flat Boots', 'Men Textured Leather Loafers', 'Men Textured Formal Leather Loafers', 'Men Textured Leather Loafers', 'Men Formal Leather Derby', 'Women Leather Penny Loafers', 'Suede High-Top Flatform Heeled Boots', 'Leather Platform Heeled Boots', 'Embellished Leather Block Heeled Boots', 'Women Leather Pumps', 'Women Velocity NITRO Runners', 'Women Hybrid Leather Sneakers', 'PEAKFREAK OUTDRY Trekking Shoe', 'Men GENERATION ZEROGRAND STITCHLITE', 'Men Running Shoes', 'Men Textured Leather Loafers', 'Men Black Leather Loafers', 'Ustraa black', 'Men Leather Loafers', 'Men Formal Leather Slip-Ons', 'Women Solid Leather Pumps', 'Women Solid Leather Pumps', 'Men Textured Formal Leather Loafers', 'Men Leather Driving Shoes', 'Men Leather Chelsea Boots', 'Men Leather Formal Derbys', 'Women Open Toe Flats', 'Women Solid Leather Ballerinas', 'Women Solid Leather Ballerinas', 'Men Textured Leather Formal Slip-Ons', 'Men Solid Leather Formal Loafers', 'Leather Block Heeled Boots', 'Leather Wedge Heeled Boots with Buckles', 'Leather Kitten Heeled Boots', 'Leather Block Heeled Boots with Bows', 'Men Running Shoes', 'Men Magnify Nitro Running', 'Men Solid Leather Formal Slip-Ons', 'Men Mid-Top Chelsea Boots', 'Men Solid Suede Sneakers', 'Men Leather Flat Boots', 'Women Magnify Nitro Shoes', 'Women WovenDesign Sports Shoes', 'Men Solid Leather Formal Derbys', 'Men Textured Leather High-Top Flat Boots', 'Men Running Shoes', 'Men Black Walking Shoes', 'Women Leather Heeled Boots', 'Men Colourblocked PU Sneakers', 'Men Solid Formal Leather Derbys', 'Men Leather Flat Boots', 'Men Textured Leather Loafers', 'Men Textured Formal Leather Loafers', 'Men Textured Leather Loafers', 'Men Formal Leather Derby', 'Women Leather Penny Loafers', 'Suede High-Top Flatform Heeled Boots', 'Leather Platform Heeled Boots', 'Embellished Leather Block Heeled Boots', 'Women Leather Pumps', 'Women Velocity NITRO Runners', 'Women Hybrid Leather Sneakers', 'PEAKFREAK OUTDRY Trekking Shoe', 'Men GENERATION ZEROGRAND STITCHLITE', 'Men Running Shoes', 'Men Textured Leather Loafers', 'Men Black Leather Loafers', 'Ustraa black', 'Men Leather Loafers', 'Men Formal Leather Slip-Ons', 'Women Solid Leather Pumps', 'Women Solid Leather Pumps', 'Men Textured Formal Leather Loafers', 'Men Leather Driving Shoes', 'Men Leather Chelsea Boots', 'Men Leather Formal Derbys', 'Women Open Toe Flats', 'Women Solid Leather Ballerinas', 'Women Solid Leather Ballerinas', 'Men Textured Leather Formal Slip-Ons', 'Men Solid Leather Formal Loafers', 'Leather Block Heeled Boots', 'Leather Wedge Heeled Boots with Buckles', 'Leather Kitten Heeled Boots', 'Leather Block Heeled Boots with Bows']

### Price

In [134]:
price = []
for i in range(0,5,1):
    price_tag = driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
    for j in price_tag:
        price.append(j.text.replace("Rs. ",""))
price = price[:100]
print(len(price))
print(price)

100
['8449', '8449', '9810', '7999', '8449', '7191', '8399', '7999', '7199', '13410', '8399', '7149', '7191', '12150', '9810', '9546', '7699', '10710', '8399', '8550', '13410', '8910', '12510', '8449', '8449', '9810', '7999', '8449', '7191', '8399', '7999', '7199', '13410', '8399', '7149', '7191', '12150', '9810', '9546', '7699', '10710', '8399', '8550', '13410', '8910', '12510', '8449', '8449', '9810', '7999', '8449', '7191', '8399', '7999', '7199', '13410', '8399', '7149', '7191', '12150', '9810', '9546', '7699', '10710', '8399', '8550', '13410', '8910', '12510', '8449', '8449', '9810', '7999', '8449', '7191', '8399', '7999', '7199', '13410', '8399', '7149', '7191', '12150', '9810', '9546', '7699', '10710', '8399', '8550', '13410', '8910', '12510', '8449', '8449', '9810', '7999', '8449', '7191', '8399', '7999']

In [136]:
boots = pd.DataFrame()
boots["Brands"] = brand
boots["Description"] = desc
boots["Price(₹)"] = price
boots

            Brands                              Description Price(₹)
0             Puma                        Men Running Shoes     8449
1             Puma                Men Magnify Nitro Running     8449
2     Hush Puppies        Men Solid Leather Formal Slip-Ons     9810
3          Saint G                Men Mid-Top Chelsea Boots     7999
4     Calvin Klein                 Men Solid Suede Sneakers     8449
..             ...                                      ...      ...
95  Pavers England         Men Solid Leather Formal Loafers     7999
96         Saint G               Leather Block Heeled Boots     8449
97         Saint G  Leather Wedge Heeled Boots with Buckles     7191
98         Saint G              Leather Kitten Heeled Boots     8399
99         Saint G     Leather Block Heeled Boots with Bows     7999

[100 rows x 3 columns]

### 8)Go to webpage
https://www.amazon.in/

Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

In [43]:
driver = webdriver.Chrome(r'E:\Data science\FLIPROBO\web driver\chromedriver.exe')

In [44]:
url = 'https://www.amazon.in/'
driver.get(url)

In [45]:
search = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

In [46]:
search_btn = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div')
search_btn.click()

#### selecting intel core i7
#### selecting intel core i9

In [47]:
## filter 
intel_i7 = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[12]/span/a/div/label/i")
intel_i7.click()

### scraping data

In [48]:
proc = []
inteli7 = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in inteli7:
    proc.append(i.text)
proc = proc[:10]
print(len(proc))
print(proc)

10
['Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14" FHD 2-in-1 Convertible Laptop (16 GB/512GB SDD/Windows 11/MS Office 2021/Backlit Keyboard /Graphite Grey/1.5Kg), 82HS00W4IN', 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS', 'LG Gram 17-inches Ultra-Light Intel Evo 11th Gen Core i7,16 GB RAM, 512 GB SSD, New Win-11 Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 3 Yr Warranty (17Z90P-G.AH85A2, Black)', 'ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Gray/2 Kg), FX516PEZ-HN105TS', 'Acer Nitro 5 AN515-57 Gaming Laptop | Intel Core i7-11800H |NVIDIA GeForce RTX 3050 Ti Laptop Graphics |15.6" FHD 144Hz IPS Display |16GB DDR4 |256GB SSD+1TB HDD |Killer Wi-Fi 6 |RGB Backlit Keyboard', 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3060 6GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HM-HN100T', 'Lenovo Yoga 7 11th Gen Intel Core i7 14"(35.56cm) FHD IPS 2-in-1 Touchscreen Convertible Laptop(16GB/512GB SSD/Windows 11/Office 2021/Lenovo Digital Pen/Slate Grey/Aluminium Surface/1.43Kg),82BH00HWIN', 'HP Pavilion 13, 11th Gen Intel Core i7, 13.3-inch(33.8 cm) FHD,IPS, Micro-Edge Laptop (16GB RAM/ 1TB SSD/ Win 10/ FPR/Audio B&O/Alexa Built-in/MS Office/ Ceramic White/ 1.24 Kg) -13-bb0078TU', 'Fujitsu UH-X 11th Gen Intel Core i7 13.3 inches FHD IPS 400Nits 2-in1 Touch Convertible Business Laptop (16GB/1TB SSD/Windows 11/MS Office 2021/Iris Xe Graphics/Backlit Kb/Black/0.997 kg, 4ZR1F38027)', 'HP Envy x360 11th Gen Intel Core i7 13.3-inch(33.8 cm) OLED Touchscreen Convertible Laptop (16GB/512GB SSD/Windows 11 Home/MS Office 2019/Fingerprint Reader/Natural Silver/1.32kg), 13-bd0515TU']

In [85]:
Ratings = []
rating_tag = driver.find_elements_by_xpath(("//div[@class='a-row a-size-small']/span"))
for i in rating_tag:
    Ratings.append(i.get_attribute('aria-label'))
Ratings = Ratings[::2][:10]
print(len(Ratings))
print(Ratings)

10
['4.1 out of 5 stars', '4.6 out of 5 stars', '4.1 out of 5 stars', '4.5 out of 5 stars', '4.7 out of 5 stars', '4.2 out of 5 stars', '4.6 out of 5 stars', '4.2 out of 5 stars', '3.6 out of 5 stars', '4.4 out of 5 stars']

In [89]:
Price = []
price_tag = driver.find_elements_by_xpath('//span[@class="a-price"]')
for i in price_tag:
    Price.append(i.text)
Price = Price[:10]
print(len(Price))
print(Price)

10
['₹88,990', '₹59,990', '₹99,990', '₹95,990', '₹89,990', '₹1,14,990', '₹99,990', '₹86,990', '₹1,07,490', '₹99,290']

In [90]:
laptop = pd.DataFrame()
laptop['Product'] = proc
laptop['Ratings'] = Ratings
laptop['Price'] = Price

In [91]:
laptop

,Product,Ratings,Price
0,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,4.1 out of 5 stars,"₹88,990"
1,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",4.6 out of 5 stars,"₹59,990"
2,LG Gram 17-inches Ultra-Light Intel Evo 11th G...,4.1 out of 5 stars,"₹99,990"
3,ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...,4.5 out of 5 stars,"₹95,990"
4,Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...,4.7 out of 5 stars,"₹89,990"
5,ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...,4.2 out of 5 stars,"₹1,14,990"
6,"Lenovo Yoga 7 11th Gen Intel Core i7 14""(35.56...",4.6 out of 5 stars,"₹99,990"
7,"HP Pavilion 13, 11th Gen Intel Core i7, 13.3-i...",4.2 out of 5 stars,"₹86,990"
8,Fujitsu UH-X 11th Gen Intel Core i7 13.3 inche...,3.6 out of 5 stars,"₹1,07,490"
9,HP Envy x360 11th Gen Intel Core i7 13.3-inch(...,4.4 out of 5 stars,"₹99,290"

### 9) Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.

4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data

In [126]:
driver = webdriver.Chrome(r'E:\Data science\FLIPROBO\web driver\chromedriver.exe')

In [127]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [128]:
driver.maximize_window()

In [129]:
job_option = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
job_option.click()

In [130]:
### writting data scientist
data_scientist = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
data_scientist.send_keys('Data Scientist')

In [131]:
### search data scientist
search = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button')
search.click()

In [133]:
Search_location = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]')
Search_location.click()

In [134]:
### writting location
location = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
location.send_keys('Noida')

In [135]:
### clicking on noida
noida = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
noida.click()

#### scrapping data

In [136]:
company_name = []
company_tag = driver.find_elements_by_xpath('//p[@class="company body-medium"]')
for i in company_tag:
    company_name.append(i.text)
company_name = company_name[:10]
print(len(company_name))
print(company_name)

10
['Nokia Solutions and Networks India (P)Ltd.', 'LG Electronics India Pvt. Ltd.', 'Paytm', 'Jubilant Foodworks Limited', 'CHT Sapiense', 'CHT Sapiense', 'GI Group', 'GI Group', 'GI Group', 'Paytm']

In [140]:
Ratings = []
rating = driver.find_elements_by_xpath('//span[@class="body-small"]')
for i in rating:
    Ratings.append(i.text)
print(len(Ratings))
print(Ratings)

10
['4.3', '4.1', '3.7', '3.9', '3.7', '3.7', '4.1', '4.1', '4.1', '3.7']

In [144]:
Posted_days = []
day = driver.find_elements_by_xpath('//span[@class="body-small-l"]')
for i in day:
    Posted_days.append(i.text)
Posted_days = Posted_days[::2]
print(len(Posted_days))
print(Posted_days)

10
['11d ago', '1mon ago', '5d ago', '22d ago', '6d ago', '7d ago', '19d ago', '19d ago', '19d ago', '26d ago']

In [145]:
jobs = pd.DataFrame()
jobs['Company'] = company_name
jobs['Ratings'] = Ratings
jobs['Posted-Days'] = Posted_days
jobs

                                      Company Ratings Posted-Days
0  Nokia Solutions and Networks India (P)Ltd.     4.3     11d ago
1              LG Electronics India Pvt. Ltd.     4.1    1mon ago
2                                       Paytm     3.7      5d ago
3                  Jubilant Foodworks Limited     3.9     22d ago
4                                CHT Sapiense     3.7      6d ago
5                                CHT Sapiense     3.7      7d ago
6                                    GI Group     4.1     19d ago
7                                    GI Group     4.1     19d ago
8                                    GI Group     4.1     19d ago
9                                       Paytm     3.7     26d ago

### 10)Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe

In [174]:
driver = webdriver.Chrome(r'E:\Data science\FLIPROBO\web driver\chromedriver.exe')

In [175]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [176]:
driver.maximize_window()

In [177]:
salary_option = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salary_option.click()

In [178]:
### writting data scientist
data_scientist = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
data_scientist.send_keys('Data Scientist')

In [179]:
search_ds = driver.find_elements_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
for i in search_ds:
    if 'Data Scientist' in i.text:
        i.click()
        break

### Scraping data

In [190]:
company_name = []
total_salary_record = []
company_tag = driver.find_elements_by_xpath('//div[@class="name"]')
for i in company_tag:
    company_name.append(i.text.split('\n')[0])
    total_salary_record.append(i.text.split('\n')[1].replace('based on',''))
company_name = company_name[:10]
total_salary_record = total_salary_record[:10]
print(len(company_name))
print(company_name)
print(len(total_salary_record))
print(total_salary_record)

10
['Walmart', 'Ab Inbev', 'ZS', 'Fractal Analytics', 'Optum', 'UnitedHealth', 'Tiger Analytics', 'Verizon', 'Ganit Business Solutions', 'Ericsson']
10
[' 10 salaries', ' 22 salaries', ' 14 salaries', ' 72 salaries', ' 23 salaries', ' 49 salaries', ' 27 salaries', ' 14 salaries', ' 13 salaries', ' 42 salaries']

In [185]:
Average_salary_record = []
salary_tag = driver.find_elements_by_xpath('//p[@class="averageCtc"]')
for i in salary_tag:
    Average_salary_record.append(i.text.split('\n')[0])
Average_salary_record = Average_salary_record[:10]
print(len(Average_salary_record))
print(Average_salary_record)

10
['₹ 28.7L', '₹ 19.5L', '₹ 15.8L', '₹ 15.0L', '₹ 15.0L', '₹ 13.5L', '₹ 13.5L', '₹ 12.7L', '₹ 12.4L', '₹ 11.9L']

In [195]:
minimum_salary = []
maximum_salary = []
salary_tag_min = driver.find_elements_by_xpath('//div[@class="salary-values"]')
for i in salary_tag_min:
    minimum_salary.append(i.text.split('\n')[0])
    maximum_salary.append(i.text.split('\n')[1])
minimum_salary = minimum_salary[:10]
print(len(minimum_salary))
print(minimum_salary)
print(len(maximum_salary))
print(maximum_salary)

10
['₹ 17.7L', '₹ 15.0L', '₹ 9.8L', '₹ 9.5L', '₹ 11.0L', '₹ 7.2L', '₹ 8.3L', '₹ 10.0L', '₹ 8.5L', '₹ 5.8L']
10
['₹ 35.0L', '₹ 25.0L', '₹ 20.0L', '₹ 22.0L', '₹ 21.3L', '₹ 20.5L', '₹ 18.5L', '₹ 21.0L', '₹ 15.0L', '₹ 21.5L']

In [201]:
Experience_required = []
exp = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
for i in exp:
    Experience_required.append(i.text.split('\n')[-1].replace('exp',''))
Experience_required = Experience_required[:10]
print(len(Experience_required))
print(Experience_required)

10
['3 yrs ', '3-4 yrs ', '2 yrs ', '2-4 yrs ', '3-4 yrs ', '2-4 yrs ', '3-4 yrs ', '4 yrs ', '4 yrs ', '3-4 yrs ']

In [204]:
salary_data = pd.DataFrame()
salary_data['Company'] = company_name
salary_data['Total_salary_record'] = total_salary_record
salary_data['Minimum_salary'] = minimum_salary
salary_data['Average_salary_record'] = Average_salary_record
salary_data['Maximum_salary'] = maximum_salary
salary_data['Experience_required'] = Experience_required
salary_data

,Company,Total_salary_record,Minimum_salary,Average_salary_record,Maximum_salary,Experience_required
0,Walmart,10 salaries,₹ 17.7L,₹ 28.7L,₹ 35.0L,3 yrs
1,Ab Inbev,22 salaries,₹ 15.0L,₹ 19.5L,₹ 25.0L,3-4 yrs
2,ZS,14 salaries,₹ 9.8L,₹ 15.8L,₹ 20.0L,2 yrs
3,Fractal Analytics,72 salaries,₹ 9.5L,₹ 15.0L,₹ 22.0L,2-4 yrs
4,Optum,23 salaries,₹ 11.0L,₹ 15.0L,₹ 21.3L,3-4 yrs
5,UnitedHealth,49 salaries,₹ 7.2L,₹ 13.5L,₹ 20.5L,2-4 yrs
6,Tiger Analytics,27 salaries,₹ 8.3L,₹ 13.5L,₹ 18.5L,3-4 yrs
7,Verizon,14 salaries,₹ 10.0L,₹ 12.7L,₹ 21.0L,4 yrs
8,Ganit Business Solutions,13 salaries,₹ 8.5L,₹ 12.4L,₹ 15.0L,4 yrs
9,Ericsson,42 salaries,₹ 5.8L,₹ 11.9L,₹ 21.5L,3-4 yrs